!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title
      AeroMQ Monitor
    %link{ rel: 'stylesheet', type: 'text/css', href: '/aeromq.css' }
  %body
    %ul.menu
      %li
        %a{ href: '/overview' } Overview
      %li.selected
        %a{ href: '/workers' } Workers
      %li
        %a{ href: '/queues' } Queues
    %ul.menu.sub
      %li.selected
        %a{ href: '/overview' } one
      %li
        %a{ href: '/workers' } two
      %li
        %a{ href: '/queues' } three
    #content
      Hi
