!!! XML
!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title
      AeroMQ Monitor
  %body
    .profile
      .left.column{ id: 'this_is_an_id' }
      .right.column
        #name Queue: 
          = queue

